* {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    height: 300vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    grid-auto-flow: row;
    overflow: visible;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    background-color: rgb(19, 114, 109);
    position: fixed;
    /* background-image: url("images/2502408.png");
    background-repeat: no-repeat;
    background-size: cover; */
}

.title {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1.2px;
    border-color: inherit;
}

.form, .delete, .show-contacts-btn {
    margin: 5% 20% 0;
}

.form, .delete {
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(9, 230, 219, 0.473);
    padding: 2% 0;
    height: 300vh;
    width: 50vw;
    position: absolute;
    right: 0;
}

aside h1 {
    margin-bottom: 5%;
    padding-bottom: 10px;
    border-bottom: solid 1.2px;
    border-color: inherit;
}

aside h3 {
    height: min-content;
    margin-bottom: 10%;
}

button {
    border-style: none;
    border: none;
    border-radius: 5px;
}

button:hover {
    transition: ease 0.3s;
}

.hidden {
    visibility: hidden;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 35vw;
    background-color: darkslateblue;
    position: absolute;
    left: 8vw;
    border-radius: 5px;
    z-index: 1;
}

.modal button {
    transition: none;
}

.close-modal, .close-search-modal {
    align-self: flex-end;
    height: 20px;
    width: 20px;
    margin: 5px;
}

.modal h3 {
    margin-top: 5%;
}

.search-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 10vw;
    top: 30vh;
    background-color: red;
    height: 40vh;
    width: 30vw;
    z-index: 1;
}

.search-modal button {
    transition: none;
}

