body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form, .show-contacts-btn {
    margin: 5% 20% 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}